@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);


#body{
  background-color: black;
}

#Sol_box{
  width: 1000px;
  margin: 0px auto;
}

.t_font{
  font: 25px Nanum Brush Script;
  color: #800000;
}

.DS_font{
  font: 25px Nanum Brush Script;
  color: #003333;
}

.b_font{
  font: 13px Nanum Gothic;
  line-height: 20px;
}
